
.heading
{
font-size: 40px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

body{
background-size: cover;
background-position: center;
}

canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}
button{
    font-size: 30px; 
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    border: 5px solid black;
}

